*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
input{
    width:700px;
    height:40px;
    outline:none;
    padding: 10px;
       border-radius:5px;
       border: none;
}
nav{
    height:70px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
}
input::placeholder{
    padding-left: 10px;
}
.Error{
    width: 300px;
}
.btn{
    width:150px;
    background-color:rgb(208, 91, 68);
}
.login-btn button{

    width: 120px;
    padding: 6px;
    color:rgb(40, 153, 197);
    outline:none;
    border:none;
    border-radius:5px;
}
.login-btn a{
    text-decoration: none;
 
}
.center-btn{
    width: 150px;
    height: 40px;
    border:none;
  
    border-radius: 5px;
    background-color: #FB641B;
}
.center-btn a{
    text-decoration: none;
    color:white;
}
p{
    font-weight: 300;
    color: rgb(84, 81, 81);
}
h5{
    font-weight:400;
}