*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libertinus Sans',serif;

}
body{
    overflow-x: hidden;
}
.navbar{
    width:100vw;
    height:100px;
}
.logo{
    width:100px;
}
.search-btn{
    background-color:transparent;
    border-radius: 15px;
    width: 100px;
    color: black;

    border: none;
}
.search{
    width: auto;
    display: inline;
    justify-content: center;
    align-items:center;
    margin-left: 20px;

}
@media (min-width: 992px) {
  .search{
    width: 800px;
    margin-right:10px;

  }
}
.login-btn{

width:90px;
border-radius: 10px;
}

.login-btn:hover{
    background-color: #2A55E5;
    color: rgb(255, 255, 255);
}
.search:focus
{
outline: none;
box-shadow: none;
color: grey;
}
img:hover{
    transform: scale(1.2);
    transform: transform all 2s ease;
    cursor:pointer;
}
.navbar-nav li{
    margin-left: 20px;
    font-size:18px;
}
.navbar-nav li svg{
    margin-right:5px;
}
.products-items{
    margin-left:15px; 
    margin-right:15px;
    border-radius:10px;
}
.product-list img{
    max-width: 100%;
    height: auto;

}

.carousel-item {
  transition: transform 1s ease-in-out; 
}
.products-list img{
    width: 100px;
    height:100px;
    object-fit:contain;
}
.product-list img{
    width: 150px;
    height:150px;
    object-fit:contain;
}
.monsoon-products,.monsoon{
    border:1px solid rgba(238, 233, 233, 0.964);
    border-radius: 10px;
    object-fit: contain;
   

}
.monsoon-products img{
    margin-top:10px;
    width: 300px;
    height:150px;
    object-fit: contain;
}
.monsoon-products{
    margin: 20px;
}
.offer{
    color:green;
    text-align: start;
    font-weight: 600;
}
.bi-arrow-right-circle-fill{
    margin-left:130px;
}
.bi-arrow-right-circle-fill-1{
     margin-left:180px;
}
.bi-arrow-right-circle-fill-2{
     margin-left:110px;
}
.card-1{
    margin-left:0px;
}

.search-btn{
    border: 1px solid grey;
}
.search-btn:hover{
    background-color: #2A55E5;
    color: white;
}

footer{
    background-color:#212121;
    color:white;
    
}
footer h6{
    color:#878787;
    margin-top:12px;
}
footer ul li{
    list-style-type: none;
}
li{
    cursor: pointer;
}