*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
input{
    width:700px;
    height:40px;
    outline:none;
    padding: 10px;
}
nav{
    height:80px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
}
input::placeholder{
    padding-left: 10px;
}
.Error{
    width: 300px;
}
.btn{
    width:120px;
    color:white;
    font-weight:500;
    
}
.loginbtn button{

    width: 120px;
    padding: 6px;
    color:rgb(40, 153, 197);
    outline:none;
    border:none;
    border-radius: 10px;
}
.login-form{
    height:80vh;
}
.login-input{
    border-top:none;
    border-left:none;
    border-right:none;
    
}
a{
    color:white;
    text-decoration:none;
}
p{
    color:rgb(212, 205, 205);
}
.btn-0{
    color:white;
    background-color:#FB641B;
    border:none;
    outline: none;
    height: 40px;
    margin-top: 10px;

}
footer p{
    margin-top:280px;
    text-align:center;
}

.login-left{
    background-color:#2874F0;
}
span{
    color:#ACA0F1;
}
.login-input {
    height: 40px;
   width: 350px;
   margin-top:20px;
   
}
.trolly{
    width:200px;
}