*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow-x: hidden;
}
.navbar{
    width: 100vw;
    position:fixed;
    top: 0;
}
.navbar-nav .nav-link{
  
}
.btn-log{
   
    background-Color:'transparent';
    border-Radius: '15px';
    border: 'none';
}
.btn-log:hover{
    background-color:rgb(5, 5, 202);
    color:white;
}
.customar-section{
    width:100vw;
    height:80vh;
}
.customar-section div{
    padding: 10px;
    width: 500px;
}
.services{
    border-radius:10px  ;
    box-shadow:0px 1px 10px 0px skyblue;
}
/* .margins{
    margin-left:15px;
    margin-right:15px;
} */
 .lady img{
    height:60vh;
 }
.icons img{
    width:50px;
    height:50px;
}
.icons-2 img{
        width:50px;
    height:50px;
}
.icons div{
     box-shadow:0px 1px 10px 0px rgb(201, 198, 198);
 background-color:white;
 border-radius:10px;
margin: 6px;
padding:10px;
margin-top:15px;
}
.service-para{
    width: 800px;
}

.seller-success-section{
    width: 100vw;
    height:auto;
    background-color: rgb(226, 246, 254);
}
a{
    text-decoration: none;
}

.custmor-feedback img{
    border-radius: 50%;
}
.custmor-feedback{
    border-radius:10px;
    background-color: white;
    width: 40vw;
}
.customer-1{
    padding:20px;
}
/* .carousel-control-prev,.carousel-control-next{
    border-radius:50%;
    color:black;
    width:50px;
    height:50px;
     box-shadow:0px 1px 10px 0px rgb(201, 198, 198);
} */
.carousel-item{
    transition: all 1s ease-in;
}
.journey div{
    border-radius:20px;
    padding: 10px;
}
.journey div p,h4{
    padding-top:20px;
}
.growth{
    width: 100vw;
    height:auto;
    background-color: rgb(223, 238, 244);
}

.shopsy{
    width:100vw;
    height:auto;
}

.shopsy-conatiner{
    width: 80vw;
    height:auto;
    margin-top:30px;
    border:1px solid rgb(178, 178, 248);
    border-radius: 60px;
}
.shopsy-conatiner img{
    width: 180px;
    height: 180px;
}
.person img{
    margin-top:60px;
    width: 300px;
    height: 300px;
}
.shopsy-conatiner p{
    font-size: 20px;
}
.our-platform{
    width: 100vw;
    height:auto;
    background-color: rgb(226, 246, 254);
}
.our-platform img{
  margin-top: 50px;
  margin-bottom:50px;
}
.our-platform-carousel{
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.carousel-inner{
  border-radius:20px;

}
.footer{
    margin:0;
    background-color:gray;
    color:white;
}
.copyrights img{
      margin-top:10px;
      margin-left:10px;
}
.copyrights div p{
    margin-top:10px;
    margin-left:10px;
}
